<div class="jumbotron">
@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
        $.ajax({
            type: 'GET',
            url: 'http://localhost:2470/api/Kontakty',
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                $(".jumbotron").append('Wiadomosc: '+msg);
                alert(msg);
                console.log('Przed jsonem');
                $.getJSON('http://localhost:2470/api/Kontakty').done(function (data) {
                    console.log(data);
                    console.log('Zaszlo w jsonie');
                    $.each(data, function (key, item) {
                        $('.jumbotron').append(key);
                        for (var key in item) {
                            console.log('Key: ' + key + "Key value:" + item[key]);
                        }
                    });
                });

            },
            error:function(request,status,error){
                $('.jumbotron').append(request+ ' '+stauts+ ' '+error);
            }


        });
      
        });
    </script>
    
    
    }
</div>
