@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/Kontakty/', function (contactsJsonPayload) {
                console.log(contactsJsonPayload);
                $(contactsJsonPayload).each(function (i, item) {
                    console.log(item.imie);
                    console.log('testp:' + item.Id + "testp");
                    var tekst = 'onClick="zabawa("' + item.Id+'")"';
                    //  $('#produkty').append('<li>' + item.Imie + ' ' + item.Nazwisko + ' ' + item.Id + '<a id="link" class="linki"  onClick="zabawa("'+item.Id+'""> Usun </a> ' + '</li> ');
                    //<a onClick="zabawa("+item.Id+")">Usun</a>
                    //$('#produkty').append('<li>' + item.Imie + ' ' + item.Nazwisko + ' ' + item.Id + '<a id="link" class="linki" '+tekst+'> Usun </a> ' + '</li> ');
                    $('#produkty').append('<li>' + item.Imie + ' ' + item.Nazwisko + ' ' + item.Id + "<a href='#' onclick='zabawa(\\'item.Id\\')'>Usun</a>");
                });
            });
            

        });
        $('#link').on('click',function () {
            console.log('Kliknieto linka')
            window.location.href = "http://localhost:2470/Home/Index";
            $.ajax

        });
        function zabawa(id) {
            console.log("ruszyla");
            console.log("ID: " + id);
            window.location.href = "http://localhost:2470/Home/Index";
        }
        $('#saveContact').click(function () {
            console.log("Poszlo");
            $.post("/api/Kontakty",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      alert(value);
                      $('#produkty').append('<li>' + value.imie + ' ' + value.nazwisko + '</li>');
                  },
                  "json"
            );
        });

        function formatItem(item) {
            return item.Imie + ' ' + item.Nazwisko;
        }
        function find() {
            var id = $('#szukanie').val();
            $.getJSON('http://localhost:2470/api/Kontakty' + '/' + id).done(function (data) {
                $('#kontakt').text(formatItem(data));
            });
          

        }
        $('#sa').click(function () {
            console.log('Poszlo klik szukania');
            find();
        });

        /* 
            
        
        
        
            $('#saveContact').click(function () {
            $.post("api/contact",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Name + ' ' + value.Surname + '</li>');
                  },
                  "json"
            );
        });


          $('#save').click(function () {
            console.log('Klik');
            $.post("/api/Kontakty/Post", $('#formularz').serialize(),
                function (value) {
                    alert(value);
                    $('#produkty').append('<li>' + value.imie + '</li>');
                },
                "json"
                );
        
        
        $(document).ready(function(){
            $.getJSON('http://localhost:2470/api/Kontakty').done(function (data) {
                console.log(data);
                $.each(data, function (key, item) {
                    var n = 0;
                    for (var no in item) {
                        console.log("w petli petli: " + item[n]);
                        n++;
                    }
                    console.log('czytam:' + item[key]);
                    $('<li>', { text: formatItem(item) }).appendTo($('#produkty'));
                });
            });
            function formatItem(item) {
                console.log('Imie: ' + item.id);
                return item.id + " " + item.imie + " " + item.nazwisko;
            }
            <form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>
        });*/
    </script>


}


<div class="jumbotron">
    <ul id="produkty"></ul></br>
    <label for="buttono">Szukaj po id: </label></br>
    <input type="text" id="szukanie"/>
  
    <input type="button" id="sa" value="Szukaj" />
    <p id="kontakt"/>



</div>

<form id="saveContactForm" method="post">
  
    <table>
        <tr>
           <th> <label for="contactId">Id:</label> </th>
            <td><input type="text" name="Id" /> </td>
        </tr>
        <tr>
            <th><label for="contactId">Imie:</label></th>
            <td><input type="text" name="Imie" /></td>
        </tr>
        <tr>
            <th><label for="contactName">Nazwisko:</label></th>
            <td><input type="text" name="Nazwisko" /></td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td>

            </td>
            <td>
                
            </td>
            <td>
                <input type="button" id="saveContact" value="Zapisz" />
            </td>
        </tr>
    </table>
    
</form>
