<div class="jumbotron">
    <ul id="produkty"></ul>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON('http://localhost:2470/api/Kontakty').done(function (data) {
                $.each(data, function (key, item) {
                    $('<li>', { text: formatItem(item) }).appendTo($('#produkty'));
                });
            });
            function formatItem(item) {
                return item.id + " " + item.imie + " " + item.nazwisko;
            }
      
        });
    </script>
    
    
    }
</div>
