@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/Kontakts/', function (contactsJsonPayload) {
                console.log(contactsJsonPayload);
                $(contactsJsonPayload).each(function (i, item) {
                    console.log(item.imie);
                    console.log('testp:' + item.Id + "testp");
                    //    var tekst = 'onClick="zabawa("' + item.Id+'")"';
                    var tekst = "/api/Kontakts/" + item.Id;
                    //  $('#produkty').append('<li>' + item.Imie + ' ' + item.Nazwisko + ' ' + item.Id + '<a id="link" class="linki"  onClick="zabawa("'+item.Id+'""> Usun </a> ' + '</li> ');
                    //<a onClick="zabawa("+item.Id+")">Usun</a>
                    console.log('Tekst: ' + tekst);
                    $('#produkty').append('<li>' + item.Imie + ' ' + item.Nazwisko + '<a id="link" class="linki" tekst=' + tekst + '> Usun </a> <a id="link" class="puty" tekst=' + tekst + '> Edytuj </a> ' + '</li> ');
                 //   $('#produkty').append('<li>' + item.Imie + ' ' + item.Nazwisko + ' ' + item.Id + "<a href='#' onclick='zabawa(\\'item.Id\\')'>Usun</a>");
                });
            });
            

        });
        /*$('#link').on('click',function () {
            console.log('Kliknieto linka')
            window.location.href = "http://localhost:2470/Home/Index";
            $.ajax

        });
        */
        $(document).on('click', "a.linki", function () {
            var id = $(this).attr('tekst');
            $(this).parent().remove();
            console.log('Id:' + id);
            console.log('Kliknietow');
            $.ajax({
                url: id,
                type: 'DELETE',
                success: function (result) {
                    alert(result);
                   
                    }
                
            });
        });
        var Kontakt = {

        }
        $(document).on('click', "a.puty", function () {
            var id = $(this).attr('tekst');
            console.log($(this).attr('tekst'));
            console.log('Id:' + id);
            console.log('Wyswietlam parentow:');
            console.log($(this).parent("item"));
            /* var paren = $(this).parents('*');
             for (var i = 0; i < paren.length; i++) {
                 console.log(paren[i]);
             }*/
            var in1 = $('#inputer').val();
            var in2 = $('#inputer2').val()
            console.log($('#inputer').val());
            console.log(in1);
            console.log(in2);
            console.log('TU PUT');
            $.ajax({
                url: id,
                dataType: 'json',
                type: 'PUT',
                data: "Imie="+in1+"&Nazwisko="+in2,
                success: function (result) {
                    alert('PUT:' + result);

                }

            });
        });
       
        function zabawa(id) {
            console.log("ruszyla");
            console.log("ID: " + id);
            window.location.href = "http://localhost:2470/Home/Index";
        }
        $('#saveContact').click(function () {
            console.log("Poszlo");
            $.post("/api/Kontakts",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      alert(value);
                      var teskt = "/api/Kontakts/" + value.Id;
                      //$('#produkty').append('<li>' + value.Imie + ' ' + value.Nazwisko + ' ' + value.Id + '<a id="link" class="linki" tekst=' + teskt + '> Usun </a> ' + '</li> '+ '<a id="link" class="puty" tekst=' + teskt + '> Edytuj </a> ' + '</li> ');
                      $('#produkty').append('<li>' + value.Imie + ' ' + value.Nazwisko + '<a id="link" class="linki" tekst=' + teskt + '> Usun </a> <a id="link" class="puty" tekst=' + teskt + '> Edytuj </a> ' + '</li> ');
                  },
                  "json"
            );
        });

        function formatItem(item) {
            return item.Imie + ' ' + item.Nazwisko;
        }
        function find() {
            var id = $('#szukanie').val();
            $.getJSON('http://localhost:2470/api/Kontakts' + '/' + id).done(function (data) {
                $('#kontakt').text(formatItem(data));
               
            });
          

        }
        $('#sa').click(function () {
            console.log('Poszlo klik szukania');
            find();
        });

        /* 
            
        
        
        
            $('#saveContact').click(function () {
            $.post("api/contact",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Name + ' ' + value.Surname + '</li>');
                  },
                  "json"
            );
        });


          $('#save').click(function () {
            console.log('Klik');
            $.post("/api/Kontakty/Post", $('#formularz').serialize(),
                function (value) {
                    alert(value);
                    $('#produkty').append('<li>' + value.imie + '</li>');
                },
                "json"
                );
        
        
        $(document).ready(function(){
            $.getJSON('http://localhost:2470/api/Kontakty').done(function (data) {
                console.log(data);
                $.each(data, function (key, item) {
                    var n = 0;
                    for (var no in item) {
                        console.log("w petli petli: " + item[n]);
                        n++;
                    }
                    console.log('czytam:' + item[key]);
                    $('<li>', { text: formatItem(item) }).appendTo($('#produkty'));
                });
            });
            function formatItem(item) {
                console.log('Imie: ' + item.id);
                return item.id + " " + item.imie + " " + item.nazwisko;
            }
            <form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>
        });*/
    </script>


}


<div class="jumbotron">
   
    <label for="buttono">Szukaj po id: </label></br>
    <input type="text" id="szukanie"/>
   
    <input type="button" id="sa" value="Szukaj" /></br>
    <p id="kontakt" /></br>
    <ul id="produkty"></ul>
   



</div>

<form id="saveContactForm" method="post">
  
    <table>
      
        <tr>
            <th><label for="contactId">Imie:</label></th>
            <td><input type="text" name="Imie" id="inputer" /></td>
        </tr>
        <tr>
            <th><label for="contactName">Nazwisko:</label></th>
            <td><input type="text" name="Nazwisko" id="inputer2"/></td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td>

            </td>
            <td>
                
            </td>
            <td>
                <input type="button" id="saveContact" value="Zapisz" />
            </td>
        </tr>
    </table>
    
</form>
