@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/Kontakty', function (contactsJsonPayload) {
                console.log(contactsJsonPayload);
                $(contactsJsonPayload).each(function (i, item) {
                    $('#produkty').append('<li>' + item.imie + ' ' + item.nazwisko + '</li> ');
                });
            });
  

        });
   
        $('#saveContact').click(function () {
            $.post("/api/Kontakty",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      alert(value);
                      $('#produkty').append('<li>' + value.imie + ' ' + value.nazwisko + '</li>');
                  },
                  "json"
            );
        });

        /* 
            
        
        
        
            $('#saveContact').click(function () {
            $.post("api/contact",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Name + ' ' + value.Surname + '</li>');
                  },
                  "json"
            );
        });


          $('#save').click(function () {
            console.log('Klik');
            $.post("/api/Kontakty/Post", $('#formularz').serialize(),
                function (value) {
                    alert(value);
                    $('#produkty').append('<li>' + value.imie + '</li>');
                },
                "json"
                );
        
        
        $(document).ready(function(){
            $.getJSON('http://localhost:2470/api/Kontakty').done(function (data) {
                console.log(data);
                $.each(data, function (key, item) {
                    var n = 0;
                    for (var no in item) {
                        console.log("w petli petli: " + item[n]);
                        n++;
                    }
                    console.log('czytam:' + item[key]);
                    $('<li>', { text: formatItem(item) }).appendTo($('#produkty'));
                });
            });
            function formatItem(item) {
                console.log('Imie: ' + item.id);
                return item.id + " " + item.imie + " " + item.nazwisko;
            }
            <form id="saveContactForm" method="post">
    <h3>Create a new Contact</h3>
    <p>
        <label for="contactId">Contact Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>
        });*/
    </script>


}


<div class="jumbotron">
    <ul id="produkty"></ul>
    <form id="saveContactForm" method="post">
        <h3>Create a new Contact</h3>
        <p>
            <label for="contactId">Contact Id:</label>
            <input type="text" name="id" />
        </p>
        <p>
            <label for="contactId">Contact Id:</label>
            <input type="text" name="imie" />
        </p>
        <p>
            <label for="contactName">Contact Name:</label>
            <input type="text" name="nazwisko" />
        </p>
        <input type="button" id="saveContact" value="Save" />
    </form>

</div>
